
/* form field labels -- */
.app-form-label {
    font-size: 1.1rem;
}

.app-form-label::first-letter {
    text-transform:uppercase;
}

/* get dates div/button -- */
#idDatePicker {
    margin-top: 25px;
    margin-bottom: 25px;
}

.app-button {
    font-size: 1.5rem;
}

/*
    Date Picker Modal
*/
.modal-lg {
    max-width: 80%;
}

/* select-month table -- */

.dp-select-month-table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
    padding: 4px !important; /* currently 8px */
    border: none;
}

/* calendar table -- */
.dp-calendar-table > thead > tr > th,
.dp-calendar-table > tbody > tr > td {
            padding: 4px !important; /* currently 8px */
            text-align: center;
}
.dp-calendar-table > tbody > tr > td > .btn {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
}

.dp-disable-link:hover  {
    text-decoration: none;
}

.dp-saved-date-item {
    font-size: 1.4rem;
}

.calendar-cell-button {
    font-size: 1.1rem;
}

.dp-select-month {
    margin-bottom: 10px;
}

.dp-icon-size {
    font-size: 1.4rem;
}

.dp-month-name {
    font-size: 2rem;
    margin-left: 5px;
    margin-right: 5px;
}

.dp-year {
    font-size: 2rem;
    margin-left: 15px;
    margin-right: 5px;
}


/*
    Selected Item List
*/

.dp-selected-list, .dp-selected-list > li {
    list-style-type: none;
}

.dp-selected-list > li {
    margin-top: 20px;
}
.dp-selected-list > li > span {
    font-size: 1.4rem;
    margin-right: 20px;
}
.dp-selected-list > li > button {
    font-size: 0.6rem;
}


@media (max-width: 433px) {
    .dp-calendar-table > thead > tr > th,
    .dp-calendar-table > tbody > tr > td {
        padding: 0px !important; /* currently 8px */
        margin: 0px;
        text-align: center;
    }

    .dp-calendar-table > tbody > tr > td > .btn {
        padding-left: 0px;
        padding-right: 0px;
    }

    .dp-selected-list, .dp-selected-list > li {
        list-style-type: none;
        list-style-position:inside;
        margin:0, 0, 20px, 0;
        padding:0;
    }

    .dp-selected-list > li > span {
        font-size: 1.1rem;
    }
}


.dvp-ww-font { font-size: 0.6rem; font-weight: bold; color: gray; }

